* {
    margin: 0 auto;
    box-sizing: border-box;
    
  }
  
  body {
    background: beige;


  }
  
  p {
    font-size: 25px;
  }
  /* KEEP THIS CENTER ALIGNMENT */
  header {
    display: flex;
    justify-content: center;
}

section {
    margin-top: 30px;
}

/* KEEP THIS CENTER ALIGNMENT */ 
h1 {
    font-size: 50px;
}

  h1, .season, .ep {
    font-family: 'Gloria Hallelujah', cursive;
    
  }
 
  .dashboard-container {
    display: flex;
  }
  /*.burgBtn-section {
    */

  .burgBtn {
    margin-top: 25px;
    width: 12%;
    padding: 2px 2px 2px 2px;
  }

  .burgBtn:hover {
    transform: scale(1.2);
  }

  /* How to get blackboard to stay consistent size after clicking button? And Stats Board? */
  .burgerMenu {
    background:#4A4A4A;
    color: white;
    min-height: 250px;
    min-width: 70%;
    border: 10px solid #CB4154;
    text-align: center;
    align-items: center;
    
  }
  
  .statsSection {
    background: #fcdd60;
    border-radius: 10px;
   max-height: 250px;
   max-width: 70%;
    margin-bottom: 25px;
    border: 10px solid #9ac7e8
  }

  
  p, .burgerMenu, .epNum {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
  }


  h1, p, h2, a, h3 {
    /*border: 2px solid red;*/
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  
   .season, .ep {
  padding: 20px;
}
  
  #ep1 {
    border-radius: 100%;
  }
  
  #ep1:hover {
    color: red;
    transform: translateY(5px);
  }
  

  footer {
    background: beige;
    font-family: "Gloria Hallelujah", cursive;
  }

  .mainImg {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }