* {
    margin: 0 auto;
    box-sizing: border-box;
  
    
  }
  
  body {
    background: beige;
  }
  
  header img {
    max-width: 100%;
    width: 550px;
  
  }
  p {
    font-size: 25px;
  }
  /* KEEP THIS CENTER ALIGNMENT */
  header {
    display: flex;
    justify-content: center;
}

section {
    margin-top: 30px;
}

/* KEEP THIS CENTER ALIGNMENT */ 
h1 {
    font-size: 50px;
    text-align: center;
}

  h1, .season, .ep {
    font-family: 'Gloria Hallelujah', cursive;
    
  }
 
  .menuSection {
max-width: 600px;


  }
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
  }
  .burgBtn-section {
  text-align: center;
  }

  .burgBtn {
    margin-top: 25px;
    padding: 2px 2px 2px 2px;
  }

  .burgBtn:hover {
    transform: scale(1.2);
  }

  /* How to get blackboard to stay consistent size after clicking button? And Stats Board? */
  .burgerMenu {
    background:#4A4A4A;
    color: white;
    height: 250px;
    width: 300px;
    max-width: 100%;
    border: 10px solid #CB4154;
    border-radius: 10px;
    text-align: center;
    align-items: center;
  
    
  }
  
  .statsSection {
    display: flex;
    overflow: auto;
    height: auto;
    flex-direction: column;

    margin-right: 75px;
    background: #fcdd60;
    border-radius: 10px;
    min-width: 20%;
    margin-bottom: 25px;
    border: 10px solid #9ac7e8
  }

  
  p, .burgerMenu, .epResult {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
  }
  
  
   .season, .ep {
  padding: 20px;
}
  
  #ep1 {
    border-radius: 100%;
  }
  
  #ep1:hover {
    color: red;
    transform: translateY(5px);
  }
  

  footer {
    background: beige;
    font-family: "Gloria Hallelujah", cursive;
  }

  .mainImg {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }